# Sanal Ortam
venv/
/venv/

# Python önbellek ve derleme artıkları
__pycache__/
*.pyc
*.pyo
*.pyd

# Kurulum ve dağıtım artıkları
build/
dist/
*.egg-info/
*.egg

# Hata ayıklama ve log dosyaları
*.log
debug_*.py

# IDE ve editör özel dosyaları
.vscode/
.idea/
*.swp
*.swo